<nav>
  <a routerLink="/">Home</a> &nbsp;
  @if (auth.isLoggedIn()) {
    <a routerLink="/profile">Profilo</a> &nbsp;
    @if (auth.hasRole('docente')) { <a routerLink="/docente">Registro Docente</a> &nbsp; }
    @if (auth.hasRole('studente')) { <a routerLink="/studente">I Miei Voti</a> &nbsp; }
    <span><b>{{ auth.getUsername() }}</b></span> &nbsp;
    <button (click)="auth.logout()">Logout</button>
  } @else {
    <button (click)="auth.login()">Login</button>
  }
</nav>
<main><router-outlet /></main>
